{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-theme" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }} v{{ information_optimblog_version }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-theme" class="form-horizontal">
          <input type="hidden" name="information_optimblog_version" value="{{ information_optimblog_version }}" />
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-article" data-toggle="tab">{{ tab_article }}</a></li>
            <li><a href="#tab-category" data-toggle="tab">{{ tab_category }}</a></li>
            <li><a href="#tab-image" data-toggle="tab">{{ tab_image }}</a></li>
<!--
            <li><a href="#tab-module" data-toggle="tab">{{ tab_module }}</a></li>
-->
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_status" id="input-status" class="form-control">
                      {% if information_optimblog_status %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_seo }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-canonical-category-product"><span data-toggle="tooltip" title="{{ help_canonical_category }}">{{ entry_canonical_category_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_canonical_category_product" id="input-canonical-category-product" class="form-control">
                      {% if information_optimblog_canonical_category_product %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-canonical-category-information"><span data-toggle="tooltip" title="{{ help_canonical_category }}">{{ entry_canonical_category_information }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_canonical_category_information" id="input-canonical-category-information" class="form-control">
                      {% if information_optimblog_canonical_category_information %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-canonical-information"><span data-toggle="tooltip" title="{{ help_canonical_information }}">{{ entry_canonical_information }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_canonical_information" id="input-canonical-information" class="form-control">
                      {% if information_optimblog_canonical_information %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-breadcrumbs-category-product"><span data-toggle="tooltip" title="{{ help_breadcrumbs_category }}">{{ entry_breadcrumbs_category_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_breadcrumbs_category_product" id="input-breadcrumbs-category-product" class="form-control">
                      {% if information_optimblog_breadcrumbs_category_product %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-breadcrumbs-category-information"><span data-toggle="tooltip" title="{{ help_breadcrumbs_category }}">{{ entry_breadcrumbs_category_information }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_breadcrumbs_category_information" id="input-breadcrumbs-category-information" class="form-control">
                      {% if information_optimblog_breadcrumbs_category_information %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-breadcrumbs-product"><span data-toggle="tooltip" title="{{ help_breadcrumbs_product }}">{{ entry_breadcrumbs_product }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_breadcrumbs_product" id="input-breadcrumbs-product" class="form-control">
                      {% if information_optimblog_breadcrumbs_product %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-breadcrumbs-information"><span data-toggle="tooltip" title="{{ help_breadcrumbs_information }}">{{ entry_breadcrumbs_information }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_breadcrumbs_information" id="input-breadcrumbs-information" class="form-control">
                      {% if information_optimblog_breadcrumbs_information %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_backup }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_backup }}">{{ entry_backup }}</span></label>
                  <div class="col-sm-10">
                    <a href="{{ download }}" data-toggle="tooltip" title="{{ button_download }}" class="btn btn-default"><i class="fa fa-download"></i> {{ button_export }}</a>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_restore }}">{{ entry_restore }}</span></label>
                  <div class="col-sm-10">
                    <button type="button" id="button-import" data-toggle="tooltip" title="{{ button_upload }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_import }}</button>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-article">
              <fieldset>
                <legend>{{ text_exclusion }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-information"><span data-toggle="tooltip" title="{{ help_exclusion_information }}">{{ entry_exclusion_information }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_informations" value="" placeholder="{{ entry_information }}" id="input-exclusion-information" class="form-control" />
                    <div id="information-optimblog-exclusion-information" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_information in information_optimblog_exclusion_informations %}
                      <div id="information-optimblog-exclusion-information{{ information_optimblog_exclusion_information.information_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_information.title }}
                        <input type="hidden" name="information_optimblog_exclusion_information[]" value="{{ information_optimblog_exclusion_information.information_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_author }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_information_author }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_information_author %}
                      <input type="radio" name="information_optimblog_information_author" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_author" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_information_author %}
                      <input type="radio" name="information_optimblog_information_author" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_author" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-information-author"><span data-toggle="tooltip" title="{{ help_exclusion_information }}">{{ entry_exclusion_information_author }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_informations_author" value="" placeholder="{{ entry_information }}" id="input-exclusion-information-author" class="form-control" />
                    <div id="information-optimblog-exclusion-information-author" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_information_author in information_optimblog_exclusion_informations_author %}
                      <div id="information-optimblog-exclusion-information-author{{ information_optimblog_exclusion_information_author.information_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_information_author.title }}
                        <input type="hidden" name="information_optimblog_exclusion_information_author[]" value="{{ information_optimblog_exclusion_information_author.information_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_date }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_information_date }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_information_date %}
                      <input type="radio" name="information_optimblog_information_date" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_date" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_information_date %}
                      <input type="radio" name="information_optimblog_information_date" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_date" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-information-date"><span data-toggle="tooltip" title="{{ help_exclusion_information }}">{{ entry_exclusion_information_date }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_informations_date" value="" placeholder="{{ entry_information }}" id="input-exclusion-information-date" class="form-control" />
                    <div id="information-optimblog-exclusion-information-date" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_information_date in information_optimblog_exclusion_informations_date %}
                      <div id="information-optimblog-exclusion-information-date{{ information_optimblog_exclusion_information_date.information_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_information_date.title }}
                        <input type="hidden" name="information_optimblog_exclusion_information_date[]" value="{{ information_optimblog_exclusion_information_date.information_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_manufacturer }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_information_manufacturer }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_information_manufacturer %}
                      <input type="radio" name="information_optimblog_information_manufacturer" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_manufacturer" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_information_manufacturer %}
                      <input type="radio" name="information_optimblog_information_manufacturer" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_manufacturer" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-information-manufacturer"><span data-toggle="tooltip" title="{{ help_exclusion_information }}">{{ entry_exclusion_information_manufacturer }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_informations_manufacturer" value="" placeholder="{{ entry_information }}" id="input-exclusion-information-manufacturer" class="form-control" />
                    <div id="information-optimblog-exclusion-information-manufacturer" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_information_manufacturer in information_optimblog_exclusion_informations_manufacturer %}
                      <div id="information-optimblog-exclusion-information-manufacturer{{ information_optimblog_exclusion_information_manufacturer.information_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_information_manufacturer.title }}
                        <input type="hidden" name="information_optimblog_exclusion_information_manufacturer[]" value="{{ information_optimblog_exclusion_information_manufacturer.information_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_review }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_review }}">{{ entry_review }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_review_status %}
                      <input type="radio" name="information_optimblog_review_status" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_review_status" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_review_status %}
                      <input type="radio" name="information_optimblog_review_status" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_review_status" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_review_guest }}">{{ entry_review_guest }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_review_guest %}
                      <input type="radio" name="information_optimblog_review_guest" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_review_guest" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_review_guest %}
                      <input type="radio" name="information_optimblog_review_guest" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_review_guest" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_captcha }}">{{ entry_captcha }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_captcha" id="input-captcha" class="form-control">
                      <option value="">{{ text_none }}</option>
                      {% for captcha in captchas %}
                      {% if captcha.value == information_optimblog_captcha %}
                      <option value="{{ captcha.value }}" selected="selected">{{ captcha.text }}</option>
                      {% else %}
                      <option value="{{ captcha.value }}">{{ captcha.text }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_information_review }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_information_review %}
                      <input type="radio" name="information_optimblog_information_review" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_review" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_information_review %}
                      <input type="radio" name="information_optimblog_information_review" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_review" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-information-review"><span data-toggle="tooltip" title="{{ help_exclusion_information }}">{{ entry_exclusion_information_review }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_informations_review" value="" placeholder="{{ entry_information }}" id="input-exclusion-information-review" class="form-control" />
                    <div id="information-optimblog-exclusion-information-review" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_information_review in information_optimblog_exclusion_informations_review %}
                      <div id="information-optimblog-exclusion-information-review{{ information_optimblog_exclusion_information_review.information_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_information_review.title }}
                        <input type="hidden" name="information_optimblog_exclusion_information_review[]" value="{{ information_optimblog_exclusion_information_review.information_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_share }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-share">{{ entry_share }}</label>
                  <div class="col-sm-10">
                    <textarea name="information_optimblog_share" id="input-share" rows="5" placeholder="{{ entry_share }}" class="form-control">{{ information_optimblog_share }}</textarea>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_image }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-thumb">{{ entry_thumb }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_information_thumb" id="input-thumb" class="form-control">
                      {% if information_optimblog_information_thumb %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-style">{{ entry_style }}</label>
                  <div class="col-sm-10">
                    <table id="style" class="table table-striped table-bordered table-hover">
                      <tbody>
                        {% set style_row = 0 %}
                        {% for information_style in information_optimblog_information_style %}
                        <tr id="style-row{{ style_row }}">
                          <td>
                            <div class="input-group">
                              <input type="text" name="information_optimblog_information_style[]" value="{{ information_style }}" placeholder="{{ entry_link }}" class="form-control input-sm"/>
                              <div class="input-group-btn">
                                <button type="button" onclick="$('#style-row{{ style_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        {% set style_row = style_row + 1 %}
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>
                            <div class="input-group">
                              <input type="text" placeholder="{{ entry_link }}" class="form-control input-sm" disabled />
                              <div class="input-group-btn">
                                <button type="button" onclick="addStyle();" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-script">{{ entry_script }}</label>
                  <div class="col-sm-10">
                    <table id="script" class="table table-striped table-bordered table-hover">
                      <tbody>
                        {% set script_row = 0 %}
                        {% for key, position in information_optimblog_information_script %}
                        {% if key == 'header' %}
                        {% for information_script in position %}
                        <tr id="script-row{{ script_row }}">
                          <td>
                            <div class="input-group">
                              <input type="text" name="information_optimblog_information_script[header][]" value="{{ information_script }}" placeholder="{{ entry_link }}" class="form-control input-sm"/>
                              <div class="input-group-btn">
                                <button type="button" onclick="rePosition(this, {{ script_row }});" class="btn btn-sm btn-default" data-toggle="tooltip" title="{{ button_position }}">header</button>
                                <button type="button" onclick="$('#script-row{{ script_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        {% set script_row = script_row + 1 %}
                        {% endfor %}
                        {% elseif key == 'footer' %}
                        {% for information_script in position %}
                        <tr id="script-row{{ script_row }}">
                          <td>
                            <div class="input-group">
                              <input type="text" name="information_optimblog_information_script[footer][]" value="{{ information_script }}" placeholder="{{ entry_link }}" class="form-control input-sm"/>
                              <div class="input-group-btn">
                                <button type="button" onclick="rePosition(this, {{ script_row }});" class="btn btn-sm btn-default" data-toggle="tooltip" title="{{ button_position }}">footer</button>
                                <button type="button" onclick="$('#script-row{{ script_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button>
                              </div>
                            </div>
                          </td>
                        </tr>
                        {% set script_row = script_row + 1 %}
                        {% endfor %}
                        {% endif %}
                        {% set script_row = script_row + 1 %}
                        {% endfor %}
                      </tbody>
                      <tfoot>
                        <tr>
                          <td>
                            <div class="input-group">
                              <input type="text" placeholder="{{ entry_link }}" class="form-control input-sm" disabled />
                              <span class="input-group-btn">
                                <button type="button" onclick="addScript();" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i></button>
                              </span>
                            </div>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-category">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-information-category-show">{{ entry_information_show }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_information_show" id="input-information-category-show" class="form-control">
                      {% if information_optimblog_information_show %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-information-description-length"><span data-toggle="tooltip" title="{{ help_information_description_length }}">{{ entry_information_description_length }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_information_description_length" value="{{ information_optimblog_information_description_length }}" placeholder="{{ entry_information_description_length }}" id="input-information-description-length" class="form-control" />
                    {% if error_description_length %}
                    <div class="text-danger">{{ error_description_length }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ help_information_count }}">{{ entry_information_count }}</span></label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_information_count %}
                      <input type="radio" name="information_optimblog_information_count" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_count" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_information_count %}
                      <input type="radio" name="information_optimblog_information_count" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_information_count" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_author }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_category_author }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_category_author %}
                      <input type="radio" name="information_optimblog_category_author" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_author" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_category_author %}
                      <input type="radio" name="information_optimblog_category_author" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_author" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-category-author"><span data-toggle="tooltip" title="{{ help_exclusion_category }}">{{ entry_exclusion_category_author }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_categories_author" value="" placeholder="{{ entry_category }}" id="input-exclusion-category-author" class="form-control" />
                    <div id="information-optimblog-exclusion-category-author" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_category_author in information_optimblog_exclusion_categories_author %}
                      <div id="information-optimblog-exclusion-category-author{{ information_optimblog_exclusion_category_author.category_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_category_author.name }}
                        <input type="hidden" name="information_optimblog_exclusion_category_author[]" value="{{ information_optimblog_exclusion_category_author.category_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_date }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_category_date }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_category_date %}
                      <input type="radio" name="information_optimblog_category_date" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_date" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_category_date %}
                      <input type="radio" name="information_optimblog_category_date" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_date" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-category-date"><span data-toggle="tooltip" title="{{ help_exclusion_category }}">{{ entry_exclusion_category_date }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_categories_date" value="" placeholder="{{ entry_category }}" id="input-exclusion-category-date" class="form-control" />
                    <div id="information-optimblog-exclusion-category-date" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_category_date in information_optimblog_exclusion_categories_date %}
                      <div id="information-optimblog-exclusion-category-date{{ information_optimblog_exclusion_category_date.category_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_category_date.name }}
                        <input type="hidden" name="information_optimblog_exclusion_category_date[]" value="{{ information_optimblog_exclusion_category_date.category_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_review }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ entry_category_review }}</label>
                  <div class="col-sm-10">
                    <label class="radio-inline"> {% if information_optimblog_category_review %}
                      <input type="radio" name="information_optimblog_category_review" value="1" checked="checked" />
                      {{ text_yes }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_review" value="1" />
                      {{ text_yes }}
                      {% endif %} </label>
                    <label class="radio-inline"> {% if not information_optimblog_category_review %}
                      <input type="radio" name="information_optimblog_category_review" value="0" checked="checked" />
                      {{ text_no }}
                      {% else %}
                      <input type="radio" name="information_optimblog_category_review" value="0" />
                      {{ text_no }}
                      {% endif %} </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-exclusion-category-review"><span data-toggle="tooltip" title="{{ help_exclusion_category }}">{{ entry_exclusion_category_review }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_exclusion_categories_review" value="" placeholder="{{ entry_category }}" id="input-exclusion-category-review" class="form-control" />
                    <div id="information-optimblog-exclusion-category-review" class="well well-sm" style="height: 150px; overflow: auto;">
                    {% for information_optimblog_exclusion_category_review in information_optimblog_exclusion_categories_review %}
                      <div id="information-optimblog-exclusion-category-review{{ information_optimblog_exclusion_category_review.category_id }}"><i class="fa fa-minus-circle"></i> 
                        {{ information_optimblog_exclusion_category_review.name }}
                        <input type="hidden" name="information_optimblog_exclusion_category_review[]" value="{{ information_optimblog_exclusion_category_review.category_id }}" />
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_view }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-category-view"><span data-toggle="tooltip" title="{{ help_category_view }}">{{ entry_category_view }}</span></label>
                  <div class="col-sm-10">
                    <div class="btn-group" data-toggle="buttons" id="input-category-view">
                      <label class="btn btn-default {% if information_optimblog_category_view == 'block' %}active{% endif %}" data-toggle="tooltip" title="{{ button_block }}">
                        <input type="radio" name="information_optimblog_category_view" value="block" autocomplete="off" {% if information_optimblog_category_view == 'block' %}checked{% endif %}><i class="fa fa-align-justify"></i>
                      </label>
                      <label class="btn btn-default {% if information_optimblog_category_view == 'list' %}active{% endif %}" data-toggle="tooltip" title="{{ button_list }}">
                        <input type="radio" name="information_optimblog_category_view" value="list" autocomplete="off"{% if information_optimblog_category_view == 'list' %}checked{% endif %}><i class="fa fa-th-list"></i>
                      </label>
                      <label class="btn btn-default {% if information_optimblog_category_view == 'grid' %}active{% endif %}" data-toggle="tooltip" title="{{ button_grid }}">
                        <input type="radio" name="information_optimblog_category_view" value="grid" autocomplete="off"{% if information_optimblog_category_view == 'grid' %}checked{% endif %}><i class="fa fa-th"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-category-view-show">{{ entry_category_view_show }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_category_view_show" id="input-category-view-show" class="form-control">
                      {% if information_optimblog_category_view_show %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_sort }}</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-category-sort"><span data-toggle="tooltip" title="{{ help_category_sort }}">{{ entry_category_sort }}</span></label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_category_sort" id="input-category-sort" class="form-control">
                      {% for sort in sorts %}
                      {% if sort.value == information_optimblog_category_sort %}
                      <option value="{{ sort.value }}" selected="selected">{{ sort.text }}</option>
                      {% else %}
                      <option value="{{ sort.value }}">{{ sort.text }}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-category-sort-show">{{ entry_category_sort_show }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_category_sort_show" id="input-category-sort-show" class="form-control">
                      {% if information_optimblog_category_sort_show %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>{{ text_limit }}</legend>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-catalog-limit"><span data-toggle="tooltip" title="{{ help_information_limit }}">{{ entry_information_limit }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="information_optimblog_information_limit" value="{{ information_optimblog_information_limit }}" placeholder="{{ entry_information_limit }}" id="input-catalog-limit" class="form-control" />
                    {% if error_information_limit %}
                    <div class="text-danger">{{ error_information_limit }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-category-limit-show">{{ entry_category_limit_show }}</label>
                  <div class="col-sm-10">
                    <select name="information_optimblog_category_limit_show" id="input-category-limit-show" class="form-control">
                      {% if information_optimblog_category_limit_show %}
                      <option value="1" selected="selected">{{ text_enabled }}</option>
                      <option value="0">{{ text_disabled }}</option>
                      {% else %}
                      <option value="1">{{ text_enabled }}</option>
                      <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-image">
              <fieldset>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-category-width">{{ entry_image_category }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_width" value="{{ information_optimblog_image_category_width }}" placeholder="{{ entry_width }}" id="input-image-category-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_height" value="{{ information_optimblog_image_category_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_category %}
                    <div class="text-danger">{{ error_image_category }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-thumb-width">{{ entry_image_thumb }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_thumb_width" value="{{ information_optimblog_image_thumb_width }}" placeholder="{{ entry_width }}" id="input-image-thumb-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_thumb_height" value="{{ information_optimblog_image_thumb_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_thumb %}
                    <div class="text-danger">{{ error_image_thumb }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-popup-width">{{ entry_image_popup }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_popup_width" value="{{ information_optimblog_image_popup_width }}" placeholder="{{ entry_width }}" id="input-image-popup-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_popup_height" value="{{ information_optimblog_image_popup_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_popup %}
                    <div class="text-danger">{{ error_image_popup }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-information-width">{{ entry_image_information }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_information_width" value="{{ information_optimblog_image_information_width }}" placeholder="{{ entry_width }}" id="input-image-information-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_information_height" value="{{ information_optimblog_image_information_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_information %}
                    <div class="text-danger">{{ error_image_information }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-additional-width">{{ entry_image_additional }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_additional_width" value="{{ information_optimblog_image_additional_width }}" placeholder="{{ entry_width }}" id="input-image-additional-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_additional_height" value="{{ information_optimblog_image_additional_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_additional %}
                    <div class="text-danger">{{ error_image_additional }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-related">{{ entry_image_related }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_related_width" value="{{ information_optimblog_image_related_width }}" placeholder="{{ entry_width }}" id="input-image-related" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_related_height" value="{{ information_optimblog_image_related_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_related %}
                    <div class="text-danger">{{ error_image_related }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-category-popup-width">{{ entry_image_category_popup }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_popup_width" value="{{ information_optimblog_image_category_popup_width }}" placeholder="{{ entry_width }}" id="input-image-category-popup-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_popup_height" value="{{ information_optimblog_image_category_popup_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_category_popup %}
                    <div class="text-danger">{{ error_image_category_popup }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="input-image-category-additional-width">{{ entry_image_category_additional }}</label>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_additional_width" value="{{ information_optimblog_image_category_additional_width }}" placeholder="{{ entry_width }}" id="input-image-category-additional-width" class="form-control" />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" name="information_optimblog_image_category_additional_height" value="{{ information_optimblog_image_category_additional_height }}" placeholder="{{ entry_height }}" class="form-control" />
                      </div>
                    </div>
                    {% if error_image_category_additional %}
                    <div class="text-danger">{{ error_image_category_additional }}</div>
                    {% endif %}
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="tab-pane" id="tab-module">
              <fieldset>
                <legend>{{ text_information }}</legend>
              </fieldset>
              <fieldset>
                <legend>{{ text_category }}</legend>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
// Information
$('input[name*=\'informations\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/information/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['title'],
						value: item['information_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$(this).val('');

		$('#' + $(this).next().next().attr('id') + item['value']).remove();

		$(this).next().next().append('<div id="' + $(this).next().next().attr('id') + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="' + $(this).next().next().attr('id').replace(/-/g, '_') + '[]" value="' + item['value'] + '" /></div>');
	}
});

// Category
$('input[name*=\'categories\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_information=1&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$(this).val('');

		$('#' + $(this).next().next().attr('id') + item['value']).remove();

		$(this).next().next().append('<div id="' + $(this).next().next().attr('id') + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="' + $(this).next().next().attr('id').replace(/-/g, '_') + '[]" value="' + item['value'] + '" /></div>');
	}
});

$('.well').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

// Import
$('#button-import').on('click', function() {
	$('#form-import').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-import" style="display: none;"><input type="file" name="import" /></form>');

	$('#form-import input[name=\'import\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-import input[name=\'import\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=extension/information/optimblog/import&user_token={{ user_token }}&store_id={{ store_id }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-import')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$('#button-import').button('loading');
				},
				complete: function() {
					$('#button-import').button('reset');
				},
				success: function(json) {
					$('.alert').remove();

					if (json['error']) {
						$('#content > .container-fluid').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					}

					if (json['success']) {
						alert(json['success']);

						document.location.reload(true);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

// Style
var style_row = {{ style_row }};

function addStyle() {
	html  = '<tr id="style-row' + style_row + '">';
	html += '  <td>';
	html += '    <div class="input-group">';
	html += '      <input type="text" name="information_optimblog_information_style[' + style_row + ']" value="" placeholder="{{ entry_link }}" class="form-control input-sm"/>';
	html += '      <div class="input-group-btn">';
	html += '        <button type="button" onclick="$(\'#style-row' + style_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i></button>';
	html += '      </div>';
	html += '    </div>';
	html += '  </td>';
	html += '</tr>';
	
	$('#style tbody').append(html);
	
	style_row++;
}

// Script
var script_row = {{ script_row }};

function addScript() {
	html  = '<tr id="script-row' + script_row + '">';
	html += '  <td>';
	html += '    <div class="input-group">';
	html += '      <input type="text" name="information_optimblog_information_script[header][]" value="" placeholder="{{ entry_link }}" class="form-control input-sm"/>';
	html += '      <div class="input-group-btn">';
	html += '        <button type="button" onclick="rePosition(this);" class="btn btn-sm btn-default" data-toggle="tooltip" title="{{ button_position }}">header</button>';
	html += '        <button type="button" onclick="$(\'#script-row' + script_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-sm btn-danger"><i class="fa fa-minus-circle"></i></button>';
	html += '      </div>';
	html += '    </div>';
	html += '  </td>';
	html += '</tr>';
	
	$('#script tbody').append(html);
	
	script_row++;
}

function rePosition(elem, script_row) {	
	if ($(elem).text() == 'header') {
    	$(elem).parent().prev().attr('name', 'information_optimblog_information_script[footer][]');
        $(elem).text('footer');
	} else {
    	$(elem).parent().prev().attr('name', 'information_optimblog_information_script[header][]');
        $(elem).text('header');
	}
}
  //--></script> 
</div>
{{ footer }}